

body{
    margin: 0;
    padding: 0;
    background-color: rgb(43,40,187); 
    background: linear-gradient(180deg, rgba(43,40,187,1) 0%, rgba(117,19,210,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
}

#main, #contenedor{
    background-color: rgba(255, 255, 255, 0.63);
    border: 10px;
    border-radius: 10px;
    margin: 5%;
    padding: 10px;
}

div.navbar-icon{
    width: 20%;
}

input.btn{
    background-color: #d4055f;
    color: white;
}

input.btn:hover{
    background-color: #E90064;
    color: white;
}

input.form-control{
    background-color: rgba(245, 245, 245, 0.747);
}

input.form-control:focus{
    background-color: rgb(245, 245, 245);
}

#contenedor .img-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img{
    width: 50px;
}
#contenedor h3{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregunta{
    background-color: rgba(245, 245, 245, 0.747);
    padding: 10px;
    margin: 20px;
    border: 10px;
    border-radius: 10px;
}

.botones{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    width: 45%;
    margin: auto;
}

.btn-nosuccess{
    background-color: rgb(2, 100, 2);
}

.btn-nodanger{
    background-color: rgb(175, 10, 10);
}